<div class="panel panel-default" data-id="{{id}}">
  <div class="panel-heading ui-sortable-handle">
    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{id}}">
      <span class="fa fa-chevron-right"></span>
      <span class="panel-title-text">{{#if name}}{{name}}{{else}}Rule {{number}}{{/if}}</span>
    </h4>
    <a href="#"><span class="icon-delete fa fa-trash"></span></a>
  </div>

  <div id="collapse-{{id}}" class="panel-collapse collapse">
    <div class="panel-body">

      <div class="form-group">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Rule name</label>
          <p class="help-block"><small>A unique name for your rule.</small></p>
        </div>
        <div class="col-sm-8">
          <input data-name="hookName" type="text" class="form-control" placeholder="Enter a hook name" value="{{#if name}}{{ name }}{{else}}Rule {{number}}{{/if}}" required/>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label for="hookType">Apply hook on:</label>
        </div>
        <div class="col-sm-8">
          <label for="hookType" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">Select a type</span>
            <select data-name="hookType" data-label="select" class="hidden-select form-control" required>
              <option value="">-- Select a type</option>
              <option value="beforePageView" {{#if beforePageView}}selected {{/if}}>Before page view</option>
              <option value="beforeDataSourceQuery" {{#if beforeDataSourceQuery}}selected {{/if}}>Before data source query</option>
            </select>
          </label>
        </div>
      </div>

      <div class="form-group clearfix filter-type">
        <div class="col-sm-4 control-label">
          <label for="filterType">Filter type</label>
        </div>
        <div class="col-sm-8">
          <label for="filterType" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Select a type</span>
            <select data-name="filterType" data-label="select" class="hidden-select form-control" required>
              <option value="">-- Select a type</option>
              <option value="blacklist" {{#if blacklist}}selected {{/if}}>Blacklist</option>
              <option value="whitelist" {{#if whitelist}}selected {{/if}}>Whitelist</option>
            </select>
          </label>
        </div>
      </div>

      <div class="form-group clearfix pages">
        <div class="col-sm-4 control-label">
          <label for="pages">App screens</label>
        </div>
        <div class="col-sm-8">
          <select class="selectpicker" multiple>
            {{#each pages}}
              <option {{#if selected }} selected {{/if}} value="{{ id }}">{{ title }}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="form-group clearfix requirement">
        <div class="col-sm-4 control-label">
          <label for="requirement">Requirement</label>
        </div>
        <div class="col-sm-8">
          <label for="requirement" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Select a type</span>
            <select data-name="requirement" data-label="select" class="hidden-select form-control" required>
              <option value="">-- Select a type</option>
              <option value="saml2" {{#if saml2}}selected {{/if}}>SAML2</option>
              <option value="dataSource" {{#if dataSource}}selected {{/if}}>Data source</option>
              <option value="custom" {{#if custom}}selected {{/if}}>Custom condition</option>
            </select>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Error message</label>
          <p class="help-block"><small>An error message to present to the user when the hook is rejecting.</small></p>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" data-name="errorMessage" placeholder="Enter an error message" value="{{errorMessage}}" required/>
        </div>
      </div>

      <div class="form-group clearfix custom-condition">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Custom condition</label>
          <p class="help-block"><small>A custom condition that will trigger the error.</small></p>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" data-name="customCondition" value="{{customCondition}}" required/>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-12">
          <h3><small>Action on error</small></h3>
          <div class="onErrorAction"></div>
        </div>
      </div>
    </div>
  </div>
</div>
