<div class="panel panel-default accordion{{accordion}}" data-id="{{id}}">
  <div class="panel-heading ui-sortable-handle">
    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion{{accordion}}" data-target="#collapse-{{id}}">
      <span class="fa fa-chevron-right"></span>
      <span class="panel-title-text">
        <span class="requirement"></span>
        <span class="textDefault">
          {{#if name}}{{name}}{{else}}New security rule{{/if}}
        </span>
      </span>
    </h4>
    <a href="#"><span class="icon-delete fa fa-trash"></span></a>
  </div>

  <div id="collapse-{{id}}" class="panel-collapse collapse">
    <div class="panel-body">

      <div class="form-group clearfix requirement">
        <div class="col-sm-4 control-label">
          <label for="requirement">Required security condition</label>
        </div>
        <div class="col-sm-8">
          <label for="requirement" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">-- Select a condition</span>
            <select data-name="requirement" data-label="select" class="hidden-select form-control" required>
              <option value="">-- Select a condition</option>
              <option data-name="Data Source" value="dataSource" {{#if dataSource}}selected {{/if}}>Require Email/SMS/Data Source verification</option>
              <option data-name="Fliplet Login" value="flipletLogin" {{#if flipletLogin}}selected {{/if}}>Require a valid Fliplet login</option>
              <option data-name="Custom Condition" value="custom" {{#if custom}}selected {{/if}}>Write my own condition {{#unless  appSecurityFeatures.custom}}(Available on Private and above){{/unless }}</option>
              <option data-name="SAML2" value="saml2" {{#if saml2}}selected {{/if}}>Require a valid SAML2 login {{#unless  appSecurityFeatures.saml2}}(Available on Private Plus and above){{/unless }}</option>
              <option data-name="Inherit Condition" value="inherit" {{#if inherit}}selected {{/if}}>Inherit security rule(s) from another app {{#unless  appSecurityFeatures.inherit}}(Available on Enterprise only){{/unless }}</option>
            </select>
          </label>
        </div>
      </div>

      <div class="callout callout-warning callout-upgrade callout-sm hidden">
        <div class="callout-body">
          <h4>This feature is not available on your price plan.</h4>
          <p class="description">Explore our plans and upgrade to access this feature</p>
        </div>
        <div class="btn btn-warning upgrade-plan">Upgrade</div>
      </div>

      <div class="form-group clearfix appSelect hidden">
        <div class="col-sm-4 control-label">
          <label for="app-select">Select the app</label>
        </div>

        <div class="appSelect spinner-holder animated">
          <div class="spinner-overlay">Loading...</div>
          <p>Loading...</p>
        </div>

        <div class="col-sm-8 changeText hidden">
          <p class="form-control-static"><span>{{inheritAppName}}</span> - <a href="#" data-change-app>Change</a></p>
        </div>

        <div class="selectField hidden">
          <div class="col-sm-8">
            <label for="app-select" class="select-proxy-display">
              <select data-name="app-select" data-label="select" class="hidden-select form-control" disabled required>
                <option value="">-- Select an app</option>
              </select>
              <span class="icon fa fa-chevron-down"></span>
              <span class="select-value-proxy">-- Select an app</span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group clearfix custom-condition" data-panel-id="{{id}}">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Custom condition</label>
          <p class="help-block">See <a href="https://developers.fliplet.com/App-security.html#custom-security-rules" target="_blank">documentation</a> to learn more.</p>
        </div>
        <div class="col-sm-8">
          <textarea class="form-control" id="codeEditor{{id}}" data-editor-id="{{id}}" data-name="customCondition" rows="8">{{customCondition}}</textarea>
        </div>
      </div>

      <div class="protect-app">
        <div class="form-group clearfix filter-type">
          <div class="col-sm-4 control-label">
            <label for="filterType">How do you want to protect your app?</label>
          </div>
          <div class="col-sm-8">
            <div class="radio radio-icon">
              <input type="radio" id="blacklist_{{id}}" data-type="filterType" data-name="filterType_{{id}}" name="filterType_{{id}}" value="blacklist">
              <label for="blacklist_{{id}}">
                <span class="check"><i class="fa fa-circle"></i></span> Protect only the following screens...
              </label>
            </div>
            <div class="radio radio-icon">
              <input type="radio" id="whitelist_{{id}}" data-type="filterType" data-name="filterType_{{id}}" name="filterType_{{id}}" value="whitelist">
              <label for="whitelist_{{id}}">
                <span class="check"><i class="fa fa-circle"></i></span> Protect all your app's screens except the following...
              </label>
            </div>
          </div>
        </div>

        <div class="pages">
          <div class="form-group clearfix pages-blacklist hidden">
            <div class="col-sm-4 control-label">
              <label for="pages">Select the screens you want to protect</label>
            </div>
            <div class="col-sm-8">
              <select class="selectpicker" multiple>
                {{#each pages}}
                  <option {{#if selected }} selected {{/if}} value="{{ id }}">{{ title }}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group clearfix pages-whitelist hidden">
            <div class="col-sm-4 control-label">
              <label for="pages">Select the screens that do not need security</label>
            </div>
            <div class="col-sm-8">
              <select class="selectpicker" multiple>
                {{#each pages}}
                  <option {{#if selected }} selected {{/if}} value="{{ id }}">{{ title }}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>

        <div class="form-group clearfix linkProvider">
          <div class="col-sm-12">
            <h3><small>If the required condition above is not met, which screen should the user be redirected to?</small></h3>
            <div class="onErrorAction"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
