<div class="panel panel-default" data-id="{{id}}">
  <div class="panel-heading ui-sortable-handle">
    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{id}}">
      <div class="screen-reorder-handle">
        <i class="fa fa-ellipsis-v"></i><i class="fa fa-ellipsis-v"></i>
      </div>
      <span class="fa fa-chevron-right"></span>
      <span class="panel-title-text">{{~name~}}</span>
    </h4>
    <a href="#"><span class="icon-delete fa fa-trash"></span></a>
  </div>

  <div id="collapse-{{id}}" class="panel-collapse collapse">
    <div class="panel-body">

      <div class="form-group">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Rule name</label>
        </div>
        <div class="col-sm-8">
          <input data-name="hookName" type="text" class="form-control" placeholder="My hook name" value="{{ name }}" required/>
          <h6>A unique identifier name for your rule .</h6>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label for="hookType">Apply hook on:</label>
        </div>
        <div class="col-sm-8">
          <label for="hookType" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">Select a type</span>
            <select data-name="hookType" data-label="select" class="hidden-select form-control" required>
              <option value="beforePageView" {{#if beforePageView}}selected {{/if}}>&mdash; Before page view &mdash;</option>
              <option value="beforeDataSourceQuery" {{#if beforeDataSourceQuery}}selected {{/if}}>&mdash; Before data source query &mdash;</option>
            </select>
          </label>
        </div>
      </div>

      <div class="form-group clearfix filter-type">
        <div class="col-sm-4 control-label">
          <label for="filterType">Filter type</label>
        </div>
        <div class="col-sm-8">
          <label for="filterType" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">Select a type</span>
            <select data-name="filterType" data-label="select" class="hidden-select form-control" required>
              <option value="blacklist" {{#if blacklist}}selected {{/if}}>&mdash; Blacklist &mdash;</option>
              <option value="whitelist" {{#if whitelist}}selected {{/if}}>&mdash; Whitelist &mdash;</option>
            </select>
          </label>
        </div>
      </div>

      <div class="form-group clearfix pages">
        <div class="col-sm-4 control-label">
          <label for="pages">Pages</label>
        </div>
        <div class="col-sm-8">
          <select class="selectpicker" data-width="auto" multiple>
            {{#each pages}}
              <option {{#if selected }} selected {{/if}} value="{{ id }}">{{ title }}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="form-group clearfix requirement">
        <div class="col-sm-4 control-label">
          <label for="requirement">Requirement</label>
        </div>
        <div class="col-sm-8">
          <label for="requirement" class="select-proxy-display">
            <span class="icon fa fa-chevron-down"></span>
            <span class="select-value-proxy">Select a type</span>
            <select data-name="requirement" data-label="select" class="hidden-select form-control" required>
              <option value="saml2" {{#if saml2}}selected {{/if}}>&mdash; SAML2 &mdash;</option>
              <option value="dataSource" {{#if dataSource}}selected {{/if}}>&mdash; Data source &mdash;</option>
              <option value="custom" {{#if custom}}selected {{/if}}>&mdash; Custom condition &mdash;</option>
            </select>
          </label>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Error message</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" data-name="errorMessage" value="{{errorMessage}}" required/>
          <h6>An error message to present to the user when the hook is rejecting.</h6>
        </div>
      </div>

      <div class="form-group clearfix custom-condition">
        <div class="col-sm-4 control-label">
          <label for="sso_logout_url">Custom condition</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" data-name="customCondition" value="{{customCondition}}" required/>
          <h6>A custom condition set by you that will trigger the error.</h6>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="col-sm-12">
          <h3>Action on error</h4>
          <div class="onErrorAction"></div>
        </div>
      </div>
    </div>
  </div>
</div>